<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.m2e.core.lifecycleMappingMetadataSource" />
    <extension
          point="org.eclipse.m2e.core.projectConfigurators">
       <configurator
             class="org.grails.ide.eclipse.maven.GrailsProjectConfigurator"
             id="org.grails.ide.eclipse.maven.grailsProjectConfigurator">
       </configurator>
    </extension>
    <extension
          point="org.eclipse.m2e.core.lifecycleMappings">
       <lifecycleMapping
             class="org.grails.ide.eclipse.maven.GrailsAppLifecycleMapping"
             id="org.grails.ide.eclipse.maven.grailsAppLifecycleMapping"
             name="Grails app lifecycle mapping">
       </lifecycleMapping>
    </extension>
</plugin>
